/* input field start */
input[type=text],input[type=password],input[type=email],Textarea[name=message]{
  border: 1px solid #3366ff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
label{
  padding-top: 10px !importent;
  display: block;
}
/* input field end */

/* profie field start */
.content-section{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
/* profie field end */
