{% extends 'account/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="container">
<!-- Alert messages start -->
  	{% for msg in messages %}
  	   <div class="alert alert-warning alert-dismissible fade show" role="alert">
  	     <p class="text-center mb-3"><strong>Hey !</strong> {{msg}}</p>
  	     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	       <span aria-hidden="true">&times;</span>
  	     </button>
  	   </div>
  	 {% endfor %}
<!-- Alert messages end -->
    <h1>Home</h1>
  </div>
{% endblock content %}
