{% extends 'account/base.html' %}

{% load static %}

{% block style %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block content %}
<div class="container">
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h4 class="text-center mb-3">Please reset your password</h4>
					<div class="">
						<form method="POST" class="form">
							{% csrf_token %}

							<label>{{form.new_password1.label}}</label>
							{{ form.new_password1 }}

							<label>{{form.new_password2.label}}</label>
							{{ form.new_password2 }}

							<input class="btn btn-block btn-primary" type="submit" value="Confirm Reset Password">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock content %}
