{% extends 'account/base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h4 class="text-center mb-3">Please enter your email to reset password</h4>
            <div class="">
              <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-block btn-primary" type="submit" value="Password Reset">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock content %}
