
<!-- Extends base file -->
{% extends 'account/base.html' %}

<!-- load static file -->
{% load static %}

<!-- load bootstrap file -->
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %}Update profile{% endblock title %}

<!-- CSS -->
{% block style %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

<!-- Body content -->
{% block content %}
	<div class="container">
<!-- Alert messages start -->
		{% for msg in messages %}
	    <div class="alert alert-warning alert-dismissible fade show" role="alert">
	      <p class="text-center mb-3"><strong>Hey !</strong> {{msg}}</p>
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	  {% endfor %}
<!-- Alert messages end -->

<!-- Register block start -->
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="text-center mb-3">Profile Info</h1>
						<div class="">
							<form method="POST" class="form" enctype="multipart/form-data">
								{% csrf_token %}

                <label>{{u_form.email.label}}</label>
								{{ u_form.email }}

								<label>{{u_form.first_name.label}}</label>
								{{ u_form.first_name }}

								<label>{{u_form.last_name.label}}</label>
								{{ u_form.last_name }}

                {{ p_form|crispy }}

								<input class="btn btn-block btn-primary mt-3" type="submit" value="Update">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
<!-- Register block end -->
	</div>
{% endblock content %}
